.profile-intro {
  display: flex;
  flex-direction: row;
  margin-bottom: 6rem;
}

.profile-image {
  flex: 0 0 auto;
}

.profile-stats {
  flex: 1 1 auto;
}

.statistic-list {
  display: flex;
  flex-direction: row;
  padding: 1rem;
  list-style-type: none;
}

.statistic {
  text-align: center;
  flex: 1;
}

.number {
  margin-bottom: 1rem;
  font-size: 3rem;
  font-weight: bold;
}

.label {
  font-size: 2rem;
  color: #888;
}

.photo-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.photo-list-item {
  margin-bottom: 3rem;
}

.photo-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1rem;
}

.avatar {
  height: 5rem;
  width: 5rem;
  border-radius: 100%;
  margin: 0 2rem;
  border: 2px solid #333;

  &.big {
    height: 12rem;
    width: 12rem;
  }
}

.username {
  font-size: 2.25rem;
  line-height: 4rem;
  font-weight: 600;
  color: #333;
}

.photo-img {
  width: 100%;
}

.feedback {
  padding: 1rem 2rem;
}

.action-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1rem;

  &__list-item {
    display: flex;
    list-style-type: none;
    padding: 0;

    &--left {
      .action-icon:first-child {
        padding-left: 0;
      }
    }

    &--right {
      .action-icon {
        padding-right: 0;
      }
    }
  }
}

.action-icon {
  font-size: 3.5rem;
  padding: 1rem;
  color: #333;
}

.likes-count {
  font-size: 2.2rem;
  color: #333;
}

.red {
  color: red;
}
